.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  margin: 0;
}

.input {
  padding: 0.75rem;
  border: 1px solid var(--color-border-hover);
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.2s ease;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &.error {
    border-color: var(--color-error);
  }
}

.errorText {
  color: var(--color-error);
  margin: 0;
}
